<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="image/favicon.ico" type="image/ico">
    <script src="js/allPage.js" defer></script>

    <title>SKY WAVES</title>
</head>

<body class="body">
<!--     <img src="/image/1.jpg" alt="" class="joke"> -->
    <header>
<!--         <a href="/spot" style="font-size : 50px;margin-left:150px">Spot</a>
        <a href="/createspot" style="font-size : 50px; margin-left:150px">CreateSpot</a> -->
        <div class="image">
            <img src="/image/logo.jpg" alt="logo" onclick="logo()">
            <div class="title">
                <h1 class="h1FonduIndex">SKI WAVES</h1>
            </div>
        </div>
    </header>