<!-- Navigation-->
<header>
<nav>
    <ul>
        <li>
            <div class="image">
                <img src="/image/logo.jpg" alt="logo" onclick="logo()">
        </li>
        </div>
        <li><a href="/">Accueil</a></li>
        <li><a href="/spots/create">Ajouter Spot</a></li>
        <li><a href="/spots/update">Modifier Spot</a></li>
        <li style="float:right">
            <div class="image">
                <img src="../image/profile-pic.png" alt="profil" onclick="logo()">
        </li>
        <a class="btn-deconnex" href="/users/logout">Déconnexion</a>
        </div>
    </ul>
</nav>
</header>
