<!-- Navigation-->
<script src="/js/allPage.js" defer></script>
<header class="navbar">
    <img class="icon" src="/image/logo.jpg" alt="logo" onclick="logo()">
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/spots/create">Ajouter Spot</a></li>
        </ul>
        <ul>
            <li><a href="/users/logout">Déconnexion</a></li>
        </ul>
    </nav>
    <div class="navbarName"><%= name %></div>
    <img class="icon" src="/image/chris.png" alt="profil" onclick="imgProfil()">
</header>

