<!-- Navigation-->
<script src="/js/allPage.js" defer></script>
<header>
    <div class="barreNavigation">
        <img class="icone" src="/image/logo.jpg" alt="logo" onclick="logo()">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/spots/create">Ajouter Spot</a></li>
            </ul>
            <ul>
                <li><a href="/users/logout">Déconnexion</a></li>
            </ul>
        </nav>
        <div class="barreNom"><%= name %></div>
        <img class="icone" src="/image/chris.png" alt="profil" onclick="imgProfil()">
    </div>
</header>

