<form action="/createSpot" method="post">
    <input type="text" name="name">name
    <input type="text" name="description">description
    <button type="submit">créé</button>
</form>
<form method="get" action="/spot"><button type="submit">Spot</button></form>

<%= createFaile %>