<div class="image">
    <img src="/image/logo.jpg" alt="logo">
    </div>

        <h1 class="page-header h1FonduIndex">SKY WAVES!</h1>
        <nav>
            <ul>
                <li><a class="button" href="/login">Connexion à votre compte</a></li>
                <li><a class="button" href="/profil">Profil</a></li>
                <li><a class="button" href="/signup">Création de votre compte</a></li>
            </ul>
        </nav>








    </body>

    </html>