<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Connexion</title>
</head>
<body>
    <h1>SKI API</h1>
    <form action="profil.ejs" method="post">
        <div class="formulaire">
        <fieldset>
            <legend>Connexion à votre compte</legend>
            <div class="champs">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="champs">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="champs">
                <button type="submit">Profil</button>
            </div>
        </div>
        </form>
        </fieldset>
</body>
</html>