<!-- <script src="/js/login.js" defer></script> -->
<!-- <div class="formulaire">
    <form action="/postlogin" method="post">
        <fieldset>
            <h3 class="h3-class">Connexion à votre compte</h3>
            <div class="champs">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="champs">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" required>
            </div>
            <% if(loginFailed!=undefined) { %> <div class="error"> <%= loginFailed %> </div> <% } %>
            <div class="champs">
                <!-- <button onclick="login()">Se connecter</button>  -->
<!--                 <button type="submit">Connexion</button>
            </div>
            <div><a class="btn-style" href="signup">Créer un compte</a></div>
        </fieldset>
</div>
</form> -->
    <div class="container">
      <span class="error animated tada" id="msg"></span>
      <form action="/postlogin" method="post" name="form1" class="box">
        <h4>SKY<span>WAVES</span></h4>
        <h5>Connectez-vous.</h5>
          <input type="text" name="email" id="email" required placeholder="Email" autocomplete="off">
          <i class="typcn typcn-eye" id="eye"></i>
          <input type="password" name="password" id="password" required placeholder="Passsword" autocomplete="off">
          <input type="submit" value="Sign in" class="btn1" onclick="login()">
        </form>
          <a href="signup" class="dnthave">Créer le compte!</a>
    </div> 