

<div class="addSpot">
    <form action="/createSpot" method="post" class="box">
        <input type="text" name="name" placeholder="Nom du Spot">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="address" placeholder="Adresse">
        <input type="text" name="difficulty" placeholder="Dificulté">
        <input type="text" name="coordinates" placeholder="Coordinates">
        <button type="submit" class="btn4">Créer</button>
        <style>
            .alert {
                top:78%;
                width:336px;
            }
        </style>        
        <%- include("partials/messages") -%>
    </form>
    <form method="get" action="/spot"><button type="submit" class="btn5">Spot</button></form>
</div>