/* =========== header & navigation =========== */

body {
  background-image: url(../image/skiRando.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 4em;
  border-radius: 15px;
  height: 4em;
  margin: 0px 10px 0px 10px;
}

.image {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.title{
  display: block;
  justify-content: center;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 5em;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(68, 175, 236), 0 0 25px rgb(87, 184, 223), 0 0 5px rgb(0, 0, 255);
}

.button,
.h1FonduIndex {
  -webkit-animation: fadein 3.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 3.5s;
  /* Internet Explorer */
  -o-animation: fadein 3.5s;
  /* Opera < 12.1 */
  animation: fadein 3.5s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  15% {
    opacity: 0.15;
  }

  20% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.25;
  }

  30% {
    opacity: 0.3;
  }

  35% {
    opacity: 0.35;
  }

  40% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.45;
  }

  50% {
    opacity: 0.5;
  }

  55% {
    opacity: 0.55;
  }

  60% {
    opacity: 0.6;
  }

  65% {
    opacity: 0.65;
  }

  70% {
    opacity: 0.7;
  }

  75% {
    opacity: 0.75;
  }

  80% {
    opacity: 0.8;
  }

  85% {
    opacity: 0.85;
  }

  90% {
    opacity: 0.9;
  }

  95% {
    opacity: 0.95;
  }

  100% {
    opacity: 1;
  }
}


/* =========== formulaire login - signup =========== */
label {
  display: inline-block;
  padding: 10px
}

.formulaire {
  margin-left: calc(90% - 400px);
  /* 65% */
  margin-bottom: 20px;
}

.form,
form {
  display: inline-block;
  margin: 0 auto;
  width: 400px;
}

.champ {
  text-align: left;
  display: block;
}

.cadre,
fieldset {
  text-align: center;
  padding: 50px;
  background-color: rgba(255, 94, 0, 0.7);
  border-radius: 15px 0px 30px 5px;
}

.h3-class {
  color: white;
}

div>label {
  color: white;
  width: 150px;
}

div button {
  margin: 40px 0;
}

.btn-style {
  color: white;
}

.button {
  width: 175px;
  background-color: rgba(255, 94, 0, 0.7);
  display: inline-block;
  border-radius: 15px 0px 30px 5px;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* =========== profil =========== */
.profil {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: rgba(255, 94, 0, 0.7);
  border-radius: 15px 0px 30px 5px;
}

.profilInfo {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.5em;
  color: black;
}

.profilLeft {
  text-align: left;
  margin: 20px;
}

.titre {
  color: white;
  text-align: center;
  padding: 20px;
}

#deconnexion {
  margin-left: 150px;
}

/* =========== message erreur =========== */
.error {
  display: block;
  background-color: rgba(255, 94, 0, 0.7);
  color: white;
  /* width: 550px; */
  padding: 10px;
  border-radius: 10px;
  text-align: center;

}

/* CSS Libraries Used 

*Animate.css by Daniel Eden.
*FontAwesome 4.7.0
*Typicons

*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container{
  margin: 0;
  top: 25%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: hwb(220 48% 50%);
  opacity: 0.9;
  border-radius: 9px;
  border-top: 10px solid hwb(220 48% 50%);
  border-bottom: 10px solid hwb(220 48% 50%);
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000; 
  font-size: 18px;
  margin-top: 60px;;
}

.box h4 span {
  color: #000000;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-top: -15px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"] {
  display: block;
  margin: 30px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 18px 10px;
  width: 320px;
  outline: none;
  color: #ffffff;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #c0bdbd;
  font-size: 16px;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  border: 2px solid #464d64;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  left: 7.5%;
}

.btn1 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: #5d33e6;
}

.btn2 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: -29%;
  transition: 0.3s;
  cursor: pointer;
}

.btn2:hover {
  background: #5d33e6;
}

.btn3 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn3:hover {
  background: #5d33e6;
}

.user {
  display: inline-block;
  margin: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url('../image/profile-pic.png');
}

.rmb {
  position: absolute;
  margin-left: -24%;
  margin-top: 0px;
  color: #dfdeee;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 38%;
    color: black;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}


/* Page create spot */

.addSpot{
  padding-bottom: 6%; /* 2%; */
  top: 30%;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: hwb(220 48% 50%);
  opacity: 0.9;
  border-radius: 9px;
  border-top: 10px solid hwb(220 48% 50%);
  border-bottom: 10px solid hwb(220 48% 50%);
  width: 40%;
  height: auto;
  box-shadow: 1px 1px 108.8px 19.2px rgb(84, 84, 87);
}

.btn4{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  right: 11%;
  transition: 0.3s;
  cursor: pointer;
}

.btn5{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 11%;
  transition: 0.3s;
  cursor: pointer;
}
.alert{
  display: block;
  position: absolute;
  background-color: red;
  width: 300px;
  height: 20px;
  top: 60%;
  left: 12%;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
}

/* Page de spots */

.listeSpots {
  display: inline-block;
  min-width: 80%;
  justify-content: center;
  background-color: hwb(220 48% 50%);
  opacity: 0.9;
  border-radius: 9px;
  border-top: 10px solid hwb(220 48% 50%);
  border-bottom: 10px solid hwb(220 48% 50%);
  box-shadow: 1px 1px 108.8px 19.2px rgb(84, 84, 87);
}

.btn-default {
  border: 0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
}

p {
  font-size: 1.2em;
  word-wrap: break-word;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.9em;
  color: #7f5feb;
  text-shadow: 0 0 2px #dfdeee;
}

img {
  box-shadow: 0 0 7px #dfdeee;
}

/* Page de spot */

.oneSpot{
  display: block;
  max-width: 30%;
  text-align: center;
  justify-content: center;
  background-color: hwb(220 48% 50%);
  opacity: 0.9;
  border-radius: 9px;
  position: relative;
  margin-top: 5px;
  padding-top: 5px;
  top: 28%;
  left: 35%;
  height: 350px;
  border-top: 10px solid hwb(220 48% 50%);
  border-bottom: 10px solid hwb(220 48% 50%);
  box-shadow: 1px 1px 108.8px 19.2px rgb(84, 84, 87);
}
.oneSpotLabel{
  color: black;
  border-bottom: 1px solid black;
  margin-top: 5px;
}
.btn6{
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  top: 75%;
  left: 28%;
  transition: 0.3s;
  cursor: pointer;
}